@import "../../styles/links";

.page-title {
  background: #f1f1f1;
  padding: 0.5em 1em 0.5em;
  margin-bottom: 3em;

  p {
    margin-bottom: 0;
  }
  p.tags {
    color: #2082ca;
  }

  @media all and (max-width: 480px) {
    padding: 0.5em;
  }
}
.page-body {
  @include links;

  color: #666666;
  padding-left: 1px;

  h2,
  h3,
  h4 {
    margin-bottom: 0.6rem;
    margin-top: 2rem;
  }
  h3,
  h4 {
    margin-top: 1.5rem;
  }

  li {
    list-style: square;
  }

  @media all and (max-width: 480px) {
    font-size: 0.9em;

    h2 {
      font-size: 1.6em;
    }
  }

  span > img {
    position: absolute;
    top: 0;
  }
}

.tag-date-container {
  display: flex;
  flex-wrap: wrap;

  .date {
    flex-grow: 1;
    width: fit-content;
    font-family: "Saira";
    font-size: 0.9em;
    text-align: right;
    color: #666666;

    @media all and (max-width: 480px) {
      padding: 0.5em;
      line-height: 1.1;
      font-size: 0.8em;
    }
  }
}
