.container {

	margin: 0 auto;
	max-width: 750px;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex-grow: 1;

	a {
		text-decoration: none;
		border-bottom: rgba($color: #666666, $alpha: .5) solid 3px;
	}
}
